body{
    background: rgb(70, 70, 167);
    font: normal 16pt Times;
}
section{
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 7px 7px 10px rgba(128, 128, 128, 0.466);
}
footer,
header{
    color: white;
    text-align: center;
}
#ini,
#fim,
#pas{
    width: 50px;
}